{% extends "/templates/_base.html" %}
{% block content %}
    <div>
        <form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
            <div><label for="event">Event</label><br><input name="event" type="text"></div>
            <div><label for="comment">Comment</label><br><textarea name="comment" rows="3" cols="60"></textarea></div>
            <div><label for="image">Video</label><br><input type="file" name="image" accept="image/*"></div>
            <div><input type="submit"></div>
        </form>
    </div>
{% endblock %}